<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Dating App</a>

    <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="accountService.currentUser$ | async">
      <li class="nav-item">
        <a class="nav-link" href="#">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Messages</a>
      </li>
    </ul>


    <button *ngIf="accountService.currentUser$ | async" mat-button [matMenuTriggerFor]="menu">Welcome user</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Edit profile</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>

    <form
      *ngIf="!(accountService.currentUser$ | async)"
      class="d-flex"
      autocomplete="off"
      #loginForm="ngForm"
      (ngSubmit)="login()"
    >
      <input
        class="form-control me-2"
        type="text"
        placeholder="Username"
        name="username"
        [(ngModel)]="model.username"
      />
      <input
        class="form-control me-2"
        type="password"
        placeholder="Password"
        name="password"
        [(ngModel)]="model.password"
      />
      <button class="btn btn-outline-success" type="submit">Login</button>
    </form>
  </div>
</nav>
