<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active"
      >Dating App</a
    >

    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <ng-container *ngIf="accountService.currentUser$ | async">
        <li class="nav-item">
          <a class="nav-link" routerLink="/members" routerLinkActive="active"
            >Matches</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lists" routerLinkActive="active"
            >Lists</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/messages" routerLinkActive="active"
            >Messages</a
          >
        </li>
      </ng-container>
      <li class="nav-item">
        <a class="nav-link" routerLink="/errors" routerLinkActive="active"
          >Errors</a
        >
      </li>
    </ul>

    <button
      *ngIf="accountService.currentUser$ | async as user"
      mat-button
      class="btn btn-info"
      [matMenuTriggerFor]="menu"
    >
      Welcome {{ user.username | titlecase }}
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Edit profile</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>

    <form
      *ngIf="!(accountService.currentUser$ | async)"
      class="d-flex"
      autocomplete="off"
      #loginForm="ngForm"
      (ngSubmit)="login()"
    >
      <input
        class="form-control me-2"
        type="text"
        placeholder="Username"
        name="username"
        [(ngModel)]="model.username"
      />
      <input
        class="form-control me-2"
        type="password"
        placeholder="Password"
        name="password"
        [(ngModel)]="model.password"
      />
      <button class="btn btn-success" type="submit">Login</button>
    </form>
  </div>
</nav>
